.container {
  overflow: auto;
}

.table {
  table-layout: fixed;
  border-collapse: collapse;
  inline-size: 100%;
  font-family: var(--typography-font-family, Arial, sans-serif);
  word-break: normal;
  overflow-wrap: break-word;
}
